* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(244, 246, 246);
  color: rgb(0, 0, 0);
  font-family: "Space Grotesk", sans-serif;

  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  /* height: 0; */
  background-color: rgb(244, 246, 246);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(74, 175, 247);
  border-radius: 5px;
}

/*   PRELOADER  */
.preloader {
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: var(--text-color);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: 4;
  transition: all 400ms;
  overflow: hidden;
}

.preloader.remove {
  visibility: hidden;
  opacity: 0;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--primary);
  --webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 70deg,
      #0000 71deg 90deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - 9px),
      #000 calc(100% - 8px)
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s5 1s infinite;
}

@keyframes s5 {
  to {
    transform: rotate(0.5turn);
  }
}
/*     HEADER   */
nav .logo h1 {
  font-family: "Lobster", cursive;
  font-size: 1.8rem;
  word-spacing: 0px;
  font-weight: 900;
  margin: 6px;
}

nav {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 1px 1px 12px rgb(74, 175, 247);
  padding: 10px 20px;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}
nav .mainMenu li a {
  display: inline-block;
  padding: 12px;
  text-decoration: none;

  color: rgb(0, 0, 0);
  font-size: 18px;
}
nav .mainMenu li a:hover {
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  border-top: transparent;

  border-bottom: 7px solid rgb(86, 180, 247);
}
nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

nav .logo {
  margin: 6px;
  cursor: pointer;
}
@media (max-width: 800px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgb(244, 246, 246);
    box-shadow: 2px 0px 50px rgb(244, 246, 246);
    transition: top 1s ease 0s;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
  }
  nav .openMenu {
    display: block;
    font-weight: 700;
  }
  nav .mainMenu li a {
    margin-top: 40px;
  }
}
@media (max-width: 400px) {
  nav .logo h1 {
    font-size: 6rem;
  }
  nav .openMenu {
    font-size: 6rem;
  }
  .closeMenu {
    font-size: 3rem;
  }
}

.home-container {
  display: grid;
  grid-template-columns: 2% 45% 50%;

  justify-content: space-between;

  height: 100vh;
  padding: 50px 0;
  gap: 20px;
  margin-top: 20px;
}
.social-media-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 200px;
  box-shadow: 0px 0px 20px rgb(74, 175, 247);
  background-color: rgb(74, 175, 247);
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  margin-top: 30px;
}
.social-media-icon a i {
  color: rgb(244, 246, 246);
  font-size: 22px;
}

.social-media-icon a i:hover {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.image img {
  width: 90%;
}

.home-text {
  padding: 20px;
}
.home-text h4 {
  font-family: "Lobster", cursive;
  font-size: 20.8px;
  word-spacing: 0px;
  font-weight: 700;
  padding-bottom: 30px;
  padding-top: -20px;
}
.home-text h1 {
  font-size: 2.6rem;
  font-weight: bolder;
}
span {
  color: rgb(74, 175, 247);
}
.home-text p {
  font-size: 1rem;
  line-height: 30px;
  font-weight: 300;
  padding: 30px 0;
  padding-top: 20px;
  padding-bottom: 54px;
}

.home-text a {
  background-color: rgb(74, 175, 247);
  padding: 15px 35px;
  border-radius: 25px;
  color: rgb(244, 246, 246);
  text-decoration: none;
  letter-spacing: 3.2px;
  font-size: 13.6px;
  font-weight: 700;

  box-shadow: 0px 9px 55px rgb(74, 175, 247);
}
.home-text a:hover {
  color: rgb(74, 175, 247);
  border: 3px solid rgb(74, 175, 247);
  background-color: rgb(244, 246, 246);
  transition: all ease-in-out 0.6s;
}

/* ABOUT */
.about-page {
  display: grid;
  grid-template-columns: 600px 1fr;
  align-items: flex-start;
  margin-top: -20px;
  padding-right: 46px;
  padding-left: 46px;
  padding-bottom: 100px;
  padding-top: 60px;
}

.illustration2 img {
  width: 90%;
}
.about-description h4 {
  color: rgb(74, 175, 247);
  font-size: 16px;
  word-spacing: 0px;
  font-weight: 700;
  margin-bottom: 10px;
}

.about-description h1 {
  font-family: "Lobster", cursive;
  font-weight: bolder;
  font-size: 3rem;
}

.about-description p {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 300;
  padding: 26px 0;
  padding-bottom: -20px;
}
.about-name,
.about-email {
  padding: 0.6rem;
  display: flex;
  gap: 2.8rem;
  align-items: center;
}
.about-contact i {
  color: rgb(74, 175, 247);
}
.my-interest {
  padding: 0.6rem;
}
.about-interest {
  display: flex;
  gap: 2.8rem;
  align-items: center;
  padding: 0.6rem;
}

/* SKILLS */
.skill-container {
  padding: 3rem;
}

.skill-txt {
  text-align: center;
}

.skill-subheading {
  color: rgb(74, 175, 247);
  font-size: 1.2em;
  font-family: "Lobster", cursive;
}

.skill-heading {
  font-size: 3em;
}

.skill-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  align-items: center;
  gap: 2rem;
  padding: 3rem 1rem;
}

.skill-lang {
  margin-bottom: 20px;
  padding: 10px;
}

.skill-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill-lang-name,
.skill-percentage {
  font-size: 1.2em;
}

.skill-progress-bar {
  width: 100%;
  height: 18px;
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 100px;
  position: relative;
}

.skill-progress {
  background-color: rgb(74, 175, 247);
  width: 90%;
  height: 18px;
  border-radius: inherit;
  position: absolute;
  top: 0%;
  left: 0%;
  color: rgb(244, 246, 246);
  font-size: 14px;
  text-align: center;
}

.html,
.css {
  width: 100%;
}

.scss,
.tailwind,
.jquery,
.bootstrap,
.javascript {
  width: 95%;
}

.react {
  width: 90%;
}

/* SERVICES */
.services {
  width: auto;
  height: auto;
}

.services-txt {
  text-align: center;
}

.services-subheading {
  color: rgb(74, 175, 247);
  font-size: 1.2em;
  font-family: "Lobster", cursiveuiiik;
}

.services-heading {
  font-size: 3em;
}

.services-container {
  padding: 3rem;
}

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  padding: 3rem 0rem;
  gap: 2rem;
  margin: 3rem auto 0rem;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1rem;
  border-top-right-radius: 100px;
  border: 2px solid rgb(74, 175, 247);
  position: relative;
  text-align: center;
  transition: all 400ms ease;
  box-shadow: 0 0 20px rgba(30, 30, 30, 0.114);
}
.service-card:hover {
  border: none;
  transition: all ease-out 0.8s;
}
.service-card-icon {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(74, 175, 247);
  color: rgb(244, 246, 246);
  padding: 1.2rem;
  font-size: 2em;
  border-radius: 200px;
}

.service-card-heading {
  font-size: 1.8em;
  margin: 1rem auto;
}

.service-card-para {
  line-height: 1.7em;
}

/* PROJECTS */
.portfolio-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.portfolio-container {
  margin: 0rem auto 4rem;
  padding: 1rem 3rem;
}

.portfolio-txt {
  text-align: center;
  margin-bottom: 3rem;
}

.portfolio-subheading {
  color: rgb(74, 175, 247);
  font-size: 1.2em;
}

.portfolio-heading {
  font-size: 4em;
  font-family: "Lobster", cursive;
}

.gallery_tabs {
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 0.8rem;
  padding: 1.2rem;
  border-radius: 50px;
}

.gallery_tabs li {
  padding: 0.7rem 2rem;
  border-radius: 50px;
  font-size: 0.95rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid rgb(74, 175, 247);
  color: rgb(74, 175, 247);
  box-shadow: 0 0 20px rgba(30, 30, 30, 0.114);
}

.gallery_tabs li.active,
.gallery_tabs li:hover {
  background-color: rgb(74, 175, 247);
  color: rgb(244, 246, 246);
}

.gallery_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.gallery_item {
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(30, 30, 30, 0.145);
}

.gallery_item.show {
  animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.gallery_item.hide {
  display: none;
}

.gallery_item img {
  transition: transform 0.3s ease;
}

.gallery_item:hover img {
  transform: scale(1.1);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 995;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.lightbox.open {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}

.lightbox_wrapper {
  display: grid;
  place-items: center;
  min-height: calc(100% - 3rem);
  margin: 1.5rem;
}

@media (max-width: 575.98px) {
  .lightbox_wrapper {
    margin: 0.5rem;
    min-height: calc(100% - 1rem);
  }
}

.lightbox_content {
  box-shadow: var(--box-shadow);
  max-width: 75%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s ease;
}

.lightbox.open .lightbox_content {
  transform: scale(1);
}

.lightbox_close {
  position: absolute;
  top: 3vh;
  right: 3vw;
  z-index: 999;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.lightbox_close span {
  width: 100%;
  height: 3px;
  margin-top: -1.5px;
  margin-bottom: -1.5px;
  background-color: var(--white);
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.lightbox_close:hover span {
  opacity: 1;
}

.lightbox_close span:first-child {
  transform: rotate(45deg);
}

.lightbox_close span:last-child {
  transform: rotate(-45deg);
}

/* BANNER */
.banner {
  background-color: rgb(74, 175, 247);
  text-align: center;
  padding: 3rem 4rem;
  color: rgb(244, 246, 246);
}
.banner-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.banner-content p {
  margin-bottom: 50px;
}
.banner-content a {
  color: rgb(74, 175, 247);
  text-decoration: none;
  background-color: rgb(244, 246, 246);
  padding: 0.8rem 1.6rem;
  border-radius: 50px;
}
.banner-content a:hover {
  color: rgb(244, 246, 246);
  background-color: rgb(74, 175, 247);
  border: 3px solid rgb(244, 246, 246);
  transition: all ease-in-out 0.6s;
}

/* CONTACT ME */
.contact-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 4rem 3.6rem;
}
.contact-me h1 {
  font-family: "Lobster", cursive;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 36px;
}
.illustration3 img {
  width: 100%;
}
.form {
  margin-left: 5rem;
}
.form input {
  display: block;
  margin-top: 16px;
  border: 3px solid rgb(74, 175, 247);
  border-radius: 10px;
  padding: 16px;
  width: 400px;
  outline: none;
  font-size: 17px;
  font-family: "Space Grotesk", sans-serif;
}
input::placeholder,
textarea::placeholder {
  color: rgb(163, 209, 242);
  font-size: 17px;
  font-weight: 600;
  outline: none;
}
.form textarea {
  margin-top: 16px;
  border: 3px solid rgb(74, 175, 247);
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  outline: none;
  font-size: 17px;
  font-family: "Space Grotesk", sans-serif;
}
.form button {
  width: 400px;
  background-color: rgb(74, 175, 247);
  color: rgb(244, 246, 246);
  font-size: 20px;
  border-radius: 30px;
  font-family: "Space Grotesk", sans-serif;
  border: none;
  padding: 10px 50px;
  font-weight: 700;
  margin-top: 10px;
  box-shadow: 1px 1px 10px rgb(74, 175, 247);
}
.form button:hover {
  color: rgb(74, 175, 247);
  background-color: rgb(244, 246, 246);
  border: 3px solid rgb(74, 175, 247);
  transition: all ease-in-out 0.6s;
}

/* FOOTER */
.foot-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;

  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  box-shadow: 1px 1px 35px rgb(74, 175, 247);
  position: relative;
}
.foot-page h3 {
  font-family: "Lobster", cursive;
  font-weight: 900;
  font-size: 1.4rem;
}
.footer-icons li {
  display: inline;

  align-items: center;
  justify-content: space-between;
}
.footer-icons ul li a {
  color: rgb(74, 175, 247);
  font-size: xx-large;
  margin-right: 14px;
}

/* SCROLL TO TOP BUTTON */

#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(74, 175, 247);
  padding: 0.8rem;
  color: rgb(244, 246, 246);
  z-index: 60;
  border-radius: 30%;
  transition: all 1s ease;
  box-shadow: 0px 0px 1rem rgba(22, 22, 22, 0.408);
  animation: vibrate 400ms linear infinite both alternate;
  border: 1px solid rgb(74, 175, 247);
}

#scrollToTopButton.show {
  display: block;
}
#scrollToTopButton:hover {
  background-color: transparent;
  color: rgb(74, 175, 247);
  border: 1px solid rgb(74, 175, 247);
}

#scrollToTopButton i {
  font-size: 2em;
}

#scrollToTopButton.active {
  bottom: 2rem;
}

@keyframes vibrate {
  100% {
    transform: translateY(5px);
  }
}
